<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B3</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{558.0,366.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>Boneco.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Boneco00.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{94.0,164.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco01.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{370.0,202.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco02.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{462.0,202.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco03.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{464.0,2.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco04.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{464.0,102.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco05.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,164.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco06.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{278.0,202.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco07.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{186.0,202.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco08.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,264.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco09.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{90.0,98.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{90.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{94.0,264.0},{90.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco10.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{152.0,160.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{152.0,160.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{152.0,160.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{152.0,160.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco11.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{152.0,160.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{152.0,160.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{152.0,160.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{156.0,2.0},{152.0,160.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Boneco12.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{152.0,160.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{152.0,160.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{152.0,160.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{310.0,2.0},{152.0,160.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
