<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.0-B3</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{320.0,2024.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>Carrinho.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>Carrinho000.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{160.0,406.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho001.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,204.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho002.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,406.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho003.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,608.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho004.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,810.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho005.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1012.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho006.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1214.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho007.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1416.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho008.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1618.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho009.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1820.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho010.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{160.0,2.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho011.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{160.0,204.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Carrinho012.jpg</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{156.0,200.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{156.0,200.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{156.0,200.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
