<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>playercar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{60,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,138}}</string>
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>

			<key>playercar10.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{60,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,138}}</string>
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>

			<key>playercar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,0},{72,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,139}}</string>
				<key>sourceSize</key>
				<string>{72,139}</string>
			</dict>

			<key>playercar3.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{98,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,135}}</string>
				<key>sourceSize</key>
				<string>{98,135}</string>
			</dict>

			<key>playercar4.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,0},{72,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,139}}</string>
				<key>sourceSize</key>
				<string>{72,139}</string>
			</dict>

			<key>playercar5.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{60,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,138}}</string>
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>

			<key>playercar6.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{60,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,138}}</string>
				<key>sourceSize</key>
				<string>{60,138}</string>
			</dict>

			<key>playercar7.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{85,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,138}}</string>
				<key>sourceSize</key>
				<string>{85,138}</string>
			</dict>

			<key>playercar8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{108,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,130}}</string>
				<key>sourceSize</key>
				<string>{108,130}</string>
			</dict>

			<key>playercar9.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{85,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,138}}</string>
				<key>sourceSize</key>
				<string>{85,138}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>playercar.png</string>
			</dict>
		</dict>
</plist>