<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zumbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{40,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,70}}</string>
				<key>sourceSize</key>
				<string>{40,70}</string>
			</dict>

			<key>zumbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,0},{40,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,75}}</string>
				<key>sourceSize</key>
				<string>{40,75}</string>
			</dict>

			<key>zumbi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{40,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,67}}</string>
				<key>sourceSize</key>
				<string>{40,67}</string>
			</dict>

			<key>zumbi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{37,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,68}}</string>
				<key>sourceSize</key>
				<string>{37,68}</string>
			</dict>

			<key>zumbi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{37,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,69}}</string>
				<key>sourceSize</key>
				<string>{37,69}</string>
			</dict>

			<key>zumbi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{38,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,72}}</string>
				<key>sourceSize</key>
				<string>{38,72}</string>
			</dict>

			<key>zumbi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,59}}</string>
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>zombie.png</string>
			</dict>
		</dict>
</plist>